
@question QAEngine.Models.ThreadModels.QuestionModel
@answers QAEngineModels.ThreadModels.AnswersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div class="content">
        <div class="question">
            <div class="title">
                <h3>@Html.DisplayFor(question => question.Title)</h3>
            </div>
            <div class="user_info">
                <h4>@Html.DisplayFor(question => question.Poster.Username)</h4>
            </div>
            <div class="text">
                <p>@Html.DisplayFor(question => question.Text)</p>
            </div>
        </div>

        @foreach (var ans in answers.Answer)
            <div class="answer">
                <div class="title">
                    <h3>@Html.DisplayFor(ans => ans.Title)</h3>
                </div>
                <div class="user_info">
                    <h4>@Html.DisplayFor(question => ans.Poster.Username)</h4>
                </div>
                <div class="text">
                    <p>@Html.DisplayFor(ans => ans.Text)</p>
                </div>
            </div>
        </div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
